*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
   width: 100%;
    height: 100%;
    background-color: black;
    color: white;
   
}
header
{
    height: 250px;
    width: 100%;

}


#banner img
{
    max-height: 400px;
    width: 100%;
    position: absolute;  
    margin: 0;
    
}
#skolatrcanjalogo  img
{
    top: 10px;
    left: 10px;
    position: relative;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    
}
nav
{
    position: static;
    text-decoration: none;
    margin-top: 150px;
    margin-bottom: 20px;
    padding: 10px;
    
}
nav li
{
    display: inline;
    padding:15px 20px;
    margin-left: 250px;
    border: 1px solid white;
    
}
nav a 
{
    color:white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    
}
nav a:hover
{
    color: red;
    text-decoration: none;
}
#uvodniVideo iframe
{
    height: 650px;
    width: 100%;
}
#sadrzaj
{
    
    margin: 5px 10% ;
    height: auto;
    width: 80%;
    padding: 10px;
    text-align: justify;
    border: 1px solid white;
}
#sadrzaj img
{
    float: right;
    margin: 10px;
    height: auto;
    width : 50%;
    padding:10px;
   
}
#sadrzaj p
{
    margin: 15px auto;
    padding: 10px;
}
#socialMedia
{
    
    height: 20%;
    width: 20%;
    padding: 10px;
    
    margin: 10px 30%;
}
#socialMedia img
{
    
    width: 50px;
    height: 50px;
    margin-right: 40px;
    
}
footer 
{
    margin-top: 20px;
    text-align: center;
 
}
@media only screen and (max-width:600px)
{

body,html
{
    
   margin: 0 auto;
   overflow-x: hidden;
}

header
{
    height: 250px;
    max-width: 100%;

}
header img
{
    
    max-width: 100%;
    max-height:250px;
    position: absolute;  
    margin: 0;
    
}
#skolatrcanjalogo  img
{
    top: 10px;
    left: 5px;
    position: relative;
    border-radius: 20px;
    max-width: 100px;
    height: 100px;
    
}
nav
{
    text-decoration: none;
    margin-top:-20px;
    margin-bottom: 10px;
    padding: 0;
   
}
nav li
{
    display: inline;
    padding-left: 0;
    padding-right: 12px;
    margin: 0;
    margin-left: -5px;
   border: none;
    
   
}
nav a 
{
    color:white;
   font-size: large;
   text-decoration: none;
    
}
nav a:hover
{
    color: red;
}
#sadrzaj h1
{
    font-size: larger;
}
#uvodniVideo iframe
{
    height: 200px;
    width: 100%;
}
#sadrzaj
{
    margin: auto;
    height: auto;
    width: 100%;
    padding: 10px;
    text-align: justify;
    border: none;
}
#sadrzaj img 
{
    margin: auto;
    height: 250px;
    float: left;
    width: 100%;
}
#socialMedia
{
    
    height: 20%;
    width: 100%;
    padding: 10px;
    margin-right: 40px;
}
#socialMedia img
{
    width: 50px;
    height: 50px;
    margin-right: 40px;
    
}
footer 
{
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
}